@import url('https://fonts.googleapis.com/css?family=Cabin');

#imgs{


}

.main-container_1{
  width: 100%;
  min-height: 400px;
  margin-top: 5%;
  text-align: center;
}

.input-container_1 {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  overflow: hidden;
  position: relative;
  color: rgb(16, 4, 4);
  cursor: pointer;
  border: 2px dashed rgb(172, 170, 170);
  border-radius: 20px;
  display: inline-block;
}

.input-container_1 [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.preview-container {
  margin: 0 auto;
  width: 200px;
  min-height: 200px;
  background-color: white;
  border: 2px dashed rgb(200, 17, 155);
  padding: 10px;
  border-radius: 4px;
}

.preview-container > img {
  margin: 10;
  width: 100%;
}
.tokenizationSelect2{
    width: 300px;
  }
